Package: com.denial.doabarrelwall
Name: DoABarrelWall
Version: 0.0.1
Architecture: iphoneos-arm
Description: Cycle through lockscreen and homescreen wallpapers when unlocking device.
Maintainer: denial
Author: denial
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, firmware (>= 13.0), com.mrgcgamer.libgcuniversal
